.products {
  width: 83%;
}

.productsTable {
  border: 1px solid var(--g-color-secondary);
  border-collapse: collapse;
  width: 85%;
  margin: 3rem auto 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #fff;

  tr th {
    font-size: 16px;
    padding: 12px;
    border: 2px solid var(--g-color-secondary);
    text-align: left;
    background-color: var(--g-color-secondary);
    color: var(--g-color-white);
  }

  tr th:not(:last-child) {
    border-right-color: white;
  }

  tr td {
    border: 1px solid rgba(6, 19, 37, 0.4);
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: var(--g-color-secondary);
  }

  //tr:nth-child(even) td {
  //  background-color: var(--g-color-primary) !important;
  //}
  .disabled {
    background-color: var(--g-color-primary);
    opacity: 0.5;
  }
}

.productsHeader {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: 2rem auto 0;
.productsSelect{
  width: 40%;
}
  button {
    border: 1px solid var(--g-color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    svg {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      background-color: var(--g-color-accent);

      svg {
        stroke: #fff;
        fill: #fff;
      }
    }
  }
}

.productsCol {
  &:first-child {
    width: 20px;
    text-align: center;
    font-weight: 600;
  }

  &:nth-child(2) {
    width: 85%;
    //text-align: center;
    transition: 0.3s ease-in-out;
  }

  &:nth-child(3), &:nth-child(4) {
    width: 5%;
  }

  .categoriesBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.formBtn{
  padding-bottom: 3rem;
}
.formTitle{
  margin: 5px 0 0.5rem;
  font-weight: 500;
  position: relative;
}
.formDivider{
  width: 100%;
  height: 1px;
  background-color: var(--g-color-accent);
  margin-bottom: 1rem;
  opacity: 0.3;
}
.formInputs{
  display: flex;
  flex-direction: column;
  gap: 8px;
  label{
    font-size: 14px;
  }
  input{
    border: 1px solid var(--g-color-light-blue);
    border-radius: 2px;
    padding: 8px ;
  }
}

.formDetails{
  width: 100%;
  position: relative;
  input{
    width: 100%;
  }
}
.formBtns{
  //position: absolute;
  right: 1rem ;
  bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}

.formDetailsBtn{
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 25%;
  cursor: pointer;
}
.formDetailsAddBtn{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button{
    display: flex;
    align-items: center;
    padding: 5px ;
    background-color: transparent;
    border: none; // 1px solid var(--g-color-secondary);
    cursor: pointer;
  }
}

.formBtn{
  padding: 8px 12px;
  background-color: var(--g-color-light-blue);
  border: 1px solid var(--g-color-light-blue);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}
.formBtnRight{
  background-color: var(--g-color-accent);
  border: 1px solid var(--g-color-accent);
}
.formFieldError{
  color: red;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.confirmTitle{
  margin-top: 3rem;
}