.orders {
  width: 83%;
}

.ordersTable {
  border: 1px solid var(--g-color-secondary);
  border-collapse: collapse;
  width: 85%;
  margin: 6rem auto 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #fff;
}

.ordersTable tr th {
  font-size: 18px;
  padding: 12px;
  border: 2px solid var(--g-color-secondary);
  text-align: left;
  background-color: var(--g-color-secondary);
  color: var(--g-color-white);
}

.ordersTable tr th:not(:last-child) {
  border-right-color: white;
}

.ordersTable tr td {
  border: 1px solid rgba(6, 19, 37, 0.4);
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: var(--g-color-secondary);
}

.ordersTable td:nth-child(9) {
  width: 5%;
}

.ordersTable .disabled {
  background-color: var(--g-color-primary);
  opacity: 0.5;
}

.orderCol:first-child {
  width: 20px;
  text-align: center;
  font-weight: 600;
}

.orderCol:nth-child(7) {
  width: 5%;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.orderCol:nth-child(8) {
  width: 5%;
}

.orderCol .orderMoreBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.orderCol .orderMoreBtn svg {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.orderCol .orderMoreBtn:hover {
  color: var(--g-color-accent);
}

.orderCol .orderReadBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.disabled .orderMoreBtn:hover {
  color: inherit;
  opacity: 0.5;
}

.disabled .orderMoreBtn:hover svg {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.disabled .orderReadBtn {
  cursor: not-allowed;
}

.modalContent {
  margin-top: 1rem;
  padding: 1rem;
}

.modalContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.modalContentCol {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.modalContentCol span:first-child {
  color: var(--g-color-text);
}

.modalContentCol span:nth-child(2) {
  color: var(--g-color-secondary);
  font-size: 18px;
  font-weight: 600;
}

.categoriesBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formBtns {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.formBtn {
  padding: 5px 12px;
  background-color: var(--g-color-light-blue);
  border: 1px solid var(--g-color-light-blue);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.formBtnRight {
  background-color: var(--g-color-accent);
  border: 1px solid var(--g-color-accent);
}
/*# sourceMappingURL=Order.module.css.map */